# Brave Search API Key - Get from https://brave.com/search/api/
BRAVE_API_KEY=

# Groq API Key - Get from https://groq.com
GROQ_API_KEY=

# Redis Cache (Optional) - Get from https://console.upstash.com/
REDIS_URL=
REDIS_TOKEN=

# Confluence (optional)
CONFLUENCE_URL=
CONFLUENCE_USER=
CONFLUENCE_TOKEN=
CONFLUENCE_SPACES=

PINECONE_API_KEY=
OPENAI_API_KEY=
PINECONE_INDEX_NAME=
ENABLE_AI_SEARCH=true
ENABLE_EXTERNAL_SEARCH=false